body {
	font-family: 'Amatic SC', 'Lato','Montserrat','Roboto Slab','Open Sans', sans-serif;
  
  background-color:#ffff ;   /*Navbar = #FFA500*/
}
h1,h2,h3 {
  margin: 0;
  font-family: 'Roboto Slab', cursive;
  font-weight: 710;
}

p {
  font-family: 'Roboto Slab', cursive;
}

.container{
	width: 100%;

}
 /*cabeçalho ou barra de navegação*/

.logo img {
	width: 15%;
  border-radius: 50px;
}

nav{

	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #8B0000;
	padding: 30px;
}

nav ul{

	list-style: none;
	padding: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

nav ul li{

	text-align: center;
	width: 100%;
	font-size:1.5em;
	padding: 2%; 
}
nav ul li a{
	display: inline-block;
	padding: 10px 0 ;
	text-decoration: none;
	color: #ffff;
}
  /*Header*/

header{
	background-image: url('../img/fundo2.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding: 30px;
}

header p{
	margin-bottom:2em;
	font-size: 1.7em;
}

.botao{

	color: #fff;
	text-decoration: none;
	padding: 10px 30px;
	background-color:#8B0000;
	font-size: .9em;

}
/* SOBRE */

#sobre{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	background-color: #8B0000;
	color: #fff

}
#sobre h2{

	margin-top: 20px;
	font-size: 2em;
}

.foto img{
	width: 60%;
}

.foto{
	float: left;
	width: 50%;
}

.texto{
	float: right;
	width: 50%;
}

/*ESPECIALIDADES*/

#especialidades{
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	margin: 0 auto;

}
#especialidades div{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	margin-top: 30px;
}
#especialidade p{
	line-height: 1.5;
	margin: 2vh;
	font-size: 1.2em;
}
#especialidades img{
	margin: 10px 0;
}
#especialidades h2{
	font-size: 2em;

}

/*COMPETENCIAS*/
#competencias{
	background-color: #A0522D;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 20px;
	margin-left: 20px;
	margin-right: 20px;
	width: 100%;
}
#competencia h2{
	color: #FFFAF0;
	margin-bottom: 20px;
	margin-top: 10px;
	font-size: 2em;
	text-align: center;

} 
#competencias h3{
	margin-bottom: 20px;
	margin-top: 10px;
	font-size: 1em;
	text-align: center;
}
#competencias p{
	background-color: #ffff;
	margin-bottom: 20px;
	margin-top: 10px;
	font-size: 1em;
	text-align: center;
}

#competencias a{
	text-decoration: none;
}
#competencias img{
	width: 65%;
	margin-bottom: 0;
}
#competencias .comp p{
	border-left: 1.7px solid black;
	border-right: 1.7px solid black;
	border-bottom: 1.7px solid black;
	margin-bottom: 0;
	font-family: 'Amatic SC', 'Lato','Montserrat','Roboto Slab','Open Sans', sans-serif;
	padding-right: 10px;
	padding-left: 10px;
	line-height: 1.2; 
}

/* MEUS TRABALHOS*/
.trab img:hover{
-ms-transform: rotate(-10deg);
-webkit-transform: rotate(-10deg);
-moz-transform:rotate(-10deg);
-o-transform:rotate(-10deg);
transform: rotate(-10deg); 
}
.trab img{
	border:10px groove #4169E1;
}

#hobby{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 20px;
	margin-left: 20px;
	margin-right: 20px;
	background-color: #8B0000;
	width: 100%;
}

#hobby h2{
	color: #ffff;
	margin-bottom: 20px;
	margin-top: 10px;
	font-size: 2em;
	text-align: center; 
}
#hobby P{
	color: #ffff;
}

.hobby{
	width:80%;
	align-items: center;
	text-align: center;
}

.hobby h3{
	color: #ffff;
	font-size: 1.5em;
	margin-top: 30px;
	margin-bottom: 14px;

}

.hobby img{
	width: 25%;
/*	display:flex;
/*	flex-direction: center;
	align-items: center;
	padding-bottom: center;
	padding-top: 10px;
	margin-left: auto;
	margin-right: auto;
	border: 5px;
	border-image: 3px;	*/
}
.hobby img:hover{
-ms-transform: rotate(-10deg);
-webkit-transform: rotate(-10deg);
-moz-transform:rotate(-10deg);
-o-transform:rotate(-10deg);
transform: rotate(-10deg); 
}
.hobby img{
	border:10px groove #4169E1;

}
/*CONTATO*/

#contato {
	display:flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	width: 100%; 
}
#contato h2{
	margin-left: 20px ;
	margin-width:20px;
	margin-bottom:20px;
	margin-top: 20px;
	font-size: 2em;
	text-align: center;

}
#contato > p{
	margin-bottom: 20px;
	font-size: 1.2em;
	color: ;
	text-align: center;
}
#contato a{
	text-decoration: none;
	color: ;
	font-family: "Gochi Hand","Helvetica","Arial",sans-serif;
	text-align: center;
}
#contato img{
	width: 45%;
}
/**/
footer{
	text-align: center;
	width: 100%;
	background-color: #8B0000;
	color: #ffff ;
	padding-top: 20px;
	padding-bottom: 20px;
}


@media screen and (min-width: 768px){

nav{
	flex-direction: row;
	justify-content: space-between;


}

nav ul{
	flex-direction: row;
	width: 70%;
}

header{
	height: 600px;
	height: 60vh;
	justify-content: center;
}

/*SOBRE MIM*/

#sobre{
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	height: 90vh;
	justify-content: center;
	min-height: 80vh;
}
#sobre h2{
	text-align: center;
	width: 100%;
}

#sobre div{
	flex-grow: 1;
	flex-basis: 300px;
	padding: 0 10px;
}

/*ESPECIALIDADES*/

#especialidades{
	flex-direction: row;
	flex-wrap: wrap;
	align-items: flex-start;
	max-width: 1000px;
	margin: 0 auto;
}
#especialidades h2{
	text-align: center;
	width: 100%;
}

#especialidades div{
	flex-grow: 1;
	flex-basis: 150px;
	padding: 0 10px;
	
}
/*COMPETENCIAS*/

#competencias{
	flex-direction: row;
	flex-wrap: wrap;

}
#competencias h2,h3{
	width:100%;
	text-align: center;
}
#competencias .comp{
	width: 33.33333333333%;
	text-align: center;
}

#portfolio{
	flex-direction:row;
	flex-wrap: wrap;
}

#portfolio h2,h3{
	width: 100%;
	text-align: center;
}

#portfolio .port{
	width: 33.333333%;
	text-align:center;
}

#contato{
	flex-direction:row;
	flex-wrap: wrap;
	justify-content: space-around;
	max-width: 100%
	margin:0 auto;
	text-align: center;
	max-height: 40vh;
	width: 100%;
}
#contato h2,
#contato p{
	width: 100%;
	text-align: center;
}
}
